@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@theme {
  --font-api-primary: "DM Sans", Arial;
  --font-api-secondary: "Open Sans", Arial;
}
@layer base {
  html {
    @apply bg-slate-950 font-api-secondary;
  }
  header {
    @apply flex justify-center items-center h-80;
  }
  nav .nav-title {
    @apply font-bold;
  }
  nav .nav-list li {
    @apply inline-block font-semibold;
  }
  nav .nav-list li:nth-child(2) {
    @apply mx-4;
  }
  .card {
    @apply rounded-2xl p-5 bg-[#030a1e] border-[1px] border-white/20 hover:border-white/40 duration-300 ease-in-out;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
  }
  .css-blurry {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    height: 800px;
    border-radius: 50% 50%;
    filter: blur(100px);
    background: radial-gradient(
      circle at 50% 50%,
      rgba(76, 0, 255, 1),
      rgba(76, 0, 255, 0)
    );
    z-index: -1;
    opacity: 0.2;
  }
}
